body {
    margin: 0;
    padding: 0;
    background: #f4f7fb;
}

.powerbi-only-container {
    width: 100%;
    height: 80%;
    padding: 10px;
    box-sizing: border-box;
}

.powerbi-full {
    width: 100%;
    height: calc(100vh - 20px);
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}
